@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* https://www.figma.com/design/cFckqJrfzPCUlX8PBrkbTp/Tesla-Website--4C-?node-id=8-311&t=8xT4qc8cwYKkEtKv-0 */
main {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
/* header */
.logo1 {
  width: 119.8245620727539px;
  height: 12.245615005493164px;
  opacity: 1;
}
.header {
  width: 100%;
  height: 56px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(64px);
  position: fixed;
  align-items: center;
  margin: auto;
  z-index: 10;
  padding: 0px 54px 0px 35px;
}
.button-style {
  display: flex;
}
.button1:hover {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  background-color: rgba(128, 128, 128, 0.384);
}
.button2:hover {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  background-color: rgba(128, 128, 128, 0.384);
}
.button3:hover {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  background-color: rgba(128, 128, 128, 0.384);
}
.button4:hover {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  background-color: rgba(128, 128, 128, 0.384);
}
.button5:hover {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(16px);
  background-color: rgba(128, 128, 128, 0.384);
}
.logo1 {
  height: 12px;
}
.header--title > nav > button {
  background-color: transparent;
  display: flex;
  border: 2px solid transparent;
  color: white;
  margin: auto;
  cursor: pointer;
  width: 84px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
/* -----------------------main-------------------------------- */
.section1 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.video1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.textContent {
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 1;
  bottom: 30%;
}
.f--style {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.cardContentContainer {
  display: flex;
  height: 100%;
  /* position: absolute; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
.f-style1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
.shop--demo {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}
.bottom-center {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 35%;
}
.shop-button1 {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  color: white;
}
.shop-button {
  background: rgba(244, 244, 244, 0.8);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: none;
  color: black;
}
.demo-button {
  background: rgba(23, 26, 32, 0.65);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: none;
  color: white;
}
.shop-title {
  padding-top: 32px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: "Avenir";
}
.shop-subtitle {
  display: flex;
  justify-content: center;
  color: white;
}
/* Header-panel-expanded */
.header-panel-expanded {
  position: fixed;
  width: 100%;
  height: 487px;
  right: 0;
  top: -500px;
  transition: top 0.4s ease-in-out;
  background: rgb(255 255 255);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: -1;
}
.img__style {
  opacity: 0%;
}
.cars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.car-name {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.card-border1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0;
}
.underline-text {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 6%;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.underline-text > p {
  color: gray;
}
.divider {
  border: 1px solid rgba(226, 227, 227, 1);
  width: 0.000015736102795926854px;
  height: 360px;
  opacity: 1;
  border-width: 1px;
  margin: 0px 63px;
}
.menu-secondary-links {
  width: 300px;
  height: 360px;
  left: 1350px;
  opacity: 1;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
}
.menu-secondary-links > a {
  text-decoration: none;
  color: black;
}
.header:has(.button-style .button1:hover) .header-panel-expanded {
  top: 0;
}
.header:has(.button-style button:hover) .img__style {
  opacity: 100%;
}
.header:has(.button-style button:hover) {
  background-color: white !important;
}

.header:has(.button-style button:hover) .button2,
.header:has(.button-style button:hover) .button3,
.header:has(.button-style button:hover) .button4,
.header:has(.button-style button:hover) .button5,
.header:has(.button-style button:hover) .button1 {
  color: black;
}
.header:has(.button-style button:hover) .logo1,
.header:has(.button-style button:hover) .img1 {
  filter: invert(1);
  opacity: 100%;
}
/* ----------------------------section 2------------------------------- */
.last-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 16px;
  color: white;
}

@media (max-width: 1024px) {
  .button-style {
    margin: auto;
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0px 15px 0px 15px;
  }
  .button-style {
    margin: auto;
    gap: 0px;
  }
  .header--title > nav > button {
    display: none;
  }
  .textContent {
  }
  .f--style {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
  }
  .f-style {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    font-family: "Montserrat", sans-serif;
  }
  .f-style1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 390px) {
  .header {
    height: 34px;
    gap: 0px;
    padding: 0px 5px 0px 5px;
  }
  .header--title > nav > button {
    display: none;
  }
  .button-style {
    display: none;
  }
  .f--style {
    font-size: 20px;
    line-height: 20px;
  }
  .f-style {
    font-size: 10px;
    line-height: 15px;
  }
  .f-style1 {
    font-size: 10px;
    line-height: 10px;
  }
}
